/* Main Header styling with image background and white font */
.header {
  text-align: center;
  height: 100px;
  background-image: url(white-sky-1040473-3.jpg);
  background-size: cover;
  color: white;
  padding: 10px;
  font-size: 58px;
  font-family: "Cookie", cursive;
}

h1 {
  font-size: 38px;
  font-family: "Raleway", sans-serif;
  color: #654283;
}

p {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: #5c3c4b;
}

.container {
}
