.name {
  text-align:center;
  height:150px;
  background-image:url(white-sky-1040473-3.jpg);
  background-size:cover;
  color:#FFF;
  font-size:58px;
  font-family:Cookie, cursive;
  padding:10px;
  }

  .logo{
    color: #fff;
    margin: 15px;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  text-align:center;
  font-size:38px;
  font-family:Raleway, sans-serif;
  color:#654283;
  }
  
  p, #resume {
  font-size:16px;
  font-family:Raleway, sans-serif;
  color:#5c3c4b;
  }
  
  .bg-light {
  background-color:#d69fa6!important;
  }
  
  .container {
  background-color:#F5F5F5;
  padding:30px;
  }
  
  img {
  display:block;
  margin:auto;
  padding:10px;
  }
  
  footer {
  background-image:url(white-sky-1040473-3.jpg);
  background-size:cover;
  font-family:Raleway, sans-serif;
  text-align:center;
  position: absolute;
  width:100%;
  height:80px;
  }
  
  .text-muted,.container {
  color:#FFF!important;
  background:transparent;
  }
  
  .navCenter {
  display:flex;
  justify-content:center;
  background-color:#d69fa6;
  }
  
  form {
  align-self:center;
  padding:40px;
  }
  
  .btn-outline-info {
  color:#5c3c4b;
  border-color:#5c3c4b;
  }

  .card {
    padding: 15px;
    margin: 10px;
  }

  .btn {
    color: white;
    background-color: #654283;
    border-color: transparent;
    margin: 2px;
  }

  .btn-primary:hover{
    border-color: #d69fa6;
    background-color:#d69fa6;
  }

  .fab:hover {
    transition: 0.80s;
    -webkit-transition: 0.80s;
    -moz-transition: 0.80s;
    -ms-transition: 0.80s;
    -o-transition: 0.80s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  } 

  .aboutme {
    border-radius: 50%;
  }

  .aboutmeinfo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .portfolio-cards {
    display: flex;
    justify-content: center;
  }

  .contact-info {
    text-align: center;
  }

  p{
    position: relative;
  }